.root {
  position: relative;
  .btnPosition {
    position: absolute;
    right: 14px;
    bottom: 6px;

    z-index: 2000;

    background-color: transparent;
    font-size: 12px;

    img {
      width: 20px;
      height: 18px;
    }
  }

  .menuContainer {
    position: absolute;
    top: -15px;

    width: 290px;
    padding: 25px 0 10px 10px;
    background: rgb(25, 33, 63);
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;

    z-index: 1000;
    .menuItem {
      width: 290px;

      display: flex;
      align-items: center;
      padding: 5px;
      gap: 8px;
      cursor: pointer;
      font-size: 14px;

      &.selectedFilter {
        font-weight: bold;
      }

      .radioButton {
        appearance: none;
        -webkit-appearance: none;
        -moz-appearance: none;
        width: 18px;
        height: 18px;
        border: 1px solid #ffffff;
        background-color: rgb(25, 33, 63);
        border-radius: 50%;
        outline: none;
        cursor: pointer;
      }
    }
  }
}

@media screen and (min-width: 375px) {
  .root {
    .btnPosition {
      bottom: 10px;
      right: 18px;

      img {
        width: 24px;
        height: 20px;
      }
    }
    .menuContainer {
      position: absolute;
      top: -19px;

      width: 345px;
      padding: 25px 0 10px 10px;
      background: rgb(25, 33, 63);
      border-bottom-left-radius: 30px;
      border-bottom-right-radius: 30px;

      z-index: 1000;
      .menuItem {
        width: 345px;

        display: flex;
        align-items: center;
        padding: 5px;
        gap: 8px;
        cursor: pointer;
        font-size: 18px;

        &.selectedFilter {
          font-weight: bold;
        }

        .radioButton {
          appearance: none;
          -webkit-appearance: none;
          -moz-appearance: none;
          width: 18px;
          height: 18px;
          border: 1px solid #ffffff;
          background-color: rgb(25, 33, 63);
          border-radius: 50%;
          outline: none;
          cursor: pointer;
        }
      }
    }
  }
}
@media screen and (min-width: 425px) {
  .root {
    .btnPosition {
      bottom: 9px;
      right: 18px;

      img {
        width: 28px;
        height: 24px;
      }
    }
  }
}
