.root {
    position: relative;
    top: 15px;
    left: 15px;

    
    &Name {
        position: absolute;
        h1 {
            font-size: 27px;
            font-weight: 500;
            width: 102px;
            line-height: 26.6px;
            letter-spacing: -1px;
            text-transform: uppercase;
        }    
    }
    &Info {
        display: flex;
        position: absolute;
        top: 95px;
        left: 5px;
        p { 
            display: flex;
            font-size: 10px;
            
            span.line {
                margin: 0 10px;
            }
        }
    }
    & > span {
        position: absolute;
        right: 35px;
        top: 95px;
        width: 12px;
        height: 12px;
    }
}

@media screen and (min-width: 375px) {
    .root {
        position: relative;
        top: 15px;
        left: 15px;
    
        &Name {
            h1 {
                font-size: 35px;
                line-height: 33.6px;
                letter-spacing: -2px;
                text-transform: uppercase;
            }    
        }
        &Info {
            top: 115px;
            p { 
                font-size: 12px;
                
               
            }
        }
        & > span {
            position: absolute;
            top: 115px;
            width: 16px;
            height: 16px;
        }
    }
}
