.selectedButton {
  color: #c0c2ff;
}

button {
  margin-top: 23px;
  cursor: pointer;
  font-weight: 400;
  font-size: 10px;
  display: inline-flex;
  align-items: center;
  gap: 10px;
  padding: 0 17px;
}
