
.root {
    display: flex;
    height: 209px;
    width: 100%;
    color: white;
    background-color: rgba(88, 97, 202, 1);
    font-family: 'Montserrat', sans-serif;
    .container {
      min-width: 275px;
      margin: 0 auto;
  
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      align-items: center;
    }
  }
  
 
  .footer {
    &Text {
      display: flex;
      gap: 25px;

      line-height: 14px;
      font-size: 12px;
      font-weight: 400;
      color: #fff;
    }
  
    &Nav {
      display: flex;
      gap: 20px;
    }
  }


  @media screen and (min-width: 375px) {
    .root {
      .container {
        min-width: 320px;
      }
    }

    .footer {
      &Text {
        gap: 30px;
        font-size: 14px;
      }
    
    }
  }
  
  @media screen and (min-width: 425px) {
    .root {
      .container {
        min-width: 360px;
      }
    }

    .footer {
      &Text {
        gap: 30px;
      }
      
    }
  }